.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 443px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0;
  padding: 10px 123px 10px 122px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 0 403px;
  padding: 10px 47px 11px 46px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: -50px 403px 0 auto;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 43px auto 0 403px;
  padding: 10px 121px 10px 120px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  align-self: center;
  font-weight: 700;
  margin: 40px auto 60px 403px;
  padding: 10px 130px 11px 129px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-left: 303px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-left: 303px;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-right: 203px;
    margin-left: 303px;
  }

  .u-section-1 .u-btn-4 {
    align-self: center;
    margin-left: 303px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 193px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 193px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 193px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 3px;
  }
}